@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;

    /* FONT */
    font-family: "Inter", Helvetica, sans-serif !important;
}

p,
h1,
h2 {
    margin: 0;
}

:root {
    --background: #EBFBD6;
    --secondary: #0C4982;
    --primary: #0D6131;
}

.header {
    position: relative;
    top: 0;
    background-color: var(--black);
}

nav {
    position: sticky !important;
    top: 0;
    z-index: 99999;
    background-color: var(--primary);
    width: 100%;
    height: fit-content;
}

#nav_name {
    font-size: 1.5rem;
    font-weight: 500;
}

footer {
    position: sticky;
    top: 100vh;
    background-color: var(--primary);
    color: #ffffff;
}

td, th {
    vertical-align: middle;
}

body {
    background: var(--background);
}

.board {
    width: 188px;
    height: 164px;
    background: var(--secondary);
    border-radius: 15px;
}

.board .bi {
    color: #FFFFFF;
    font-size: 52px;
    margin: 0 auto 6px auto;
}

.button-font {
    font-weight: 600;
    color: white;
}

#dashboard {
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
}

#dashboard .board:hover {
    transform: translateY(-10px);
    transition: .5s;
}

#dashboard .board:active {
    background: #072949;
    transition: .1s !important;
}

#dashboard .board {
    transition: .2s;
}

#dashboard a {
    text-decoration: none;
}

.bubble {
    background-color: white;
    border-radius: 30px;
    padding: 2rem;
    margin: 0 auto;
}

#welcome {
    padding: 50px 80px;
    width: fit-content;
    height: fit-content;
}

.person-form {
    width:75% !important;
    max-width: 600px !important;
}

.subject-form {
    width:75% !important;
    max-width: 720px !important;
}