<div class="container py-5 px-5 px-md-auto">
    <div class="bubble" id="welcome">
        <h1 class="text-center">
            <span class="h4">Welcome to</span><br>
            <span class="h1">School Management System!</span>
        </h1>
    </div>

    <h3 class="h3 mt-5 pb-2 text-center" style="text-decoration: underline;">DASHBOARD</h3>

    <div id="dashboard">
        <div class="row mt-4 gy-5 gy-md-0">
            <div class="col">
                <div class="board mx-auto">
                    <a href="/students" class="d-flex flex-column justify-content-center h-100 my-auto">
                        <i class="bi bi-people-fill"></i>
                        <p class="button-font text-center">STUDENTS</p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="board mx-auto">
                    <a href="/teachers" class="d-flex flex-column justify-content-center h-100 my-auto">
                        <i class="bi bi-person-badge-fill"></i>
                        <p class="button-font text-center">TEACHERS</p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="board mx-auto">
                    <a href="/subjects" class="d-flex flex-column justify-content-center h-100 my-auto">
                        <i class="bi bi-book-fill"></i>
                        <p class="button-font text-center">SUBJECTS</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>