<!-- BREADCRUMB -->
<div class="container mt-5 mb-4">
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/students">Students</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Student</li>
        </ol>
    </div>
</div>

<!-- UPDATE STUDENT FORM -->
<div class="container">
    <!-- ALERT -->
    {{#if alert}}
    <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
        <strong>{{alert}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#each rows}}
    <form action="/students/update_student/{{this.studentID}}" method="POST" class="needs-validation" id="updating">
        {{> student_form}}
    </form>
    {{/each}}
    
</div>