<!-- FOOTER -->
<footer class="text-center p-5">
    <p class="m-0">
        Applications Development and Emerging Technologies [4-303]
    </p>
    <p class="m-0">
        Performance Assessment #4
    </p>
    <p class="m-0">
        Responsive Design
    </p>
</footer>