<div class="form-floating mb-3">
    <input type="text" class="form-control" id="studentFirstName" value="{{this.studentFirstName}}" placeholder="John" name="studentFirstName" required>
    <label for="studentFirstName">First Name</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="studentMiddleName" value="{{this.studentMiddleName}}" placeholder="Kennedy" name="studentMiddleName" required>
    <label for="studentMiddleName">Middle Name</label>
</div>
<div class="form-floating">
    <input type="text" class="form-control" id="studentLastName" value="{{this.studentLastName}}" placeholder="Doe" name="studentLastName" required>
    <label for="studentLastName">Last Name</label>
</div>
<button type="submit" class="btn btn-primary mt-4 py-3 w-100">Submit</button>