<div class="form-floating mb-3">
    <input type="text" class="form-control" id="teacherFirstName" value="{{this.teacherFirstName}}" placeholder="John" name="teacherFirstName" required>
    <label for="teacherFirstName">First Name</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="teacherMiddleName" value="{{this.teacherMiddleName}}" placeholder="Kennedy" name="teacherMiddleName" required>
    <label for="teacherMiddleName">Middle Name</label>
</div>
<div class="form-floating">
    <input type="text" class="form-control" id="teacherLastName" value="{{this.teacherLastName}}" placeholder="Doe" name="teacherLastName" required>
    <label for="teacherLastName">Last Name</label>
</div>
<button type="submit" class="btn btn-primary mt-4 py-3 w-100">Submit</button>